
@{
    ViewBag.Title = "YeniYetenek";
    Layout = "~/Views/Shared/_AdminLoyout.cshtml";
}

<br />
<h4>Yeni Yetenek Ekleme Sayfası</h4>
<br />
<form class="form-group" method="post">
    <label>Yetenek</label>
    <input type="text" name="YETENEK" class="form-control" />

    <label>Oran</label>
    <input type="text" name="ORAN" class="form-control" />
    <br />
    <button class="btn btn-info">KAYDET</button>

</form>


